@model EntityLayer.Concrete.Messages

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/LearnerLayout.cshtml";
}

<h1>Mesaj Detayları</h1>

    @Html.HiddenFor(x => x.MessageID, new { @class = "form-control" })
    <br />
    @Html.Label("Mesaj Başlığı")
    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
    <br />
    @Html.Label("Mesaj İçeriği")
    @Html.TextAreaFor(x => x.MessageDetails, 10, 3, new { @class = "form-control" })  
    <br />
    <a href="/Message/InBox/" class="btn btn-success">Mesajlara Dön</a> 
